.container {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 20px;
  padding: 20px 0px;
  text-transform: uppercase;
  margin-top: 12px;
  border-radius: 20px;
  text-align: center;
  letter-spacing: 5px;
}

.content {
  display: flex;
  flex-direction: column;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  margin: 64px 0 0 0;
}

.headline {
  margin-bottom: 20px;
}

.image {
  width: 1000px;
  margin: 0 auto;
}

.image-wrapper {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textWrapper{
  align-content: center;
}

@media (max-width: 1080px) {
  .content {
    flex-direction: column;
  }
  .image {
    width: 700px;
    margin: 0 auto;
  }
  .text-wrapper {
    order: 0;
    margin: 24px 0 0 0;
  }
  .image-wrapper {
    order: 1;
  }
}

@media (max-width: 550px) {
  .image {
    max-width: 100%;
  }
}