*{
  font-family: 'Karla', sans-serif;
}
.headline {
  font-size: 28px;
  font-weight: bold;
  color: #efefef;
}

.main-header-container {
  display: flex
}

.advantages-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media (max-width: 796px) {
  .main-header {
    height: 500px;
  }
}

@media (max-width: 500px) {
  .main-header-text {
    width: auto;
    font-size: 18px;
    margin-top: 24px;
  }
  .main-header {
    height: 300px;
  }
  .headline {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .main-header-text {
    font-size: 16px;
  }
}


@media (max-width: 361px) {
  .main-header-text {
  }
}